@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-blackDeep text-primary;
  font-family: "Satoshi", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.video-fade {
  transition: opacity 800ms linear;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}